@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Heberth Caripa<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +56 9 58771227
</address>
<address>
    Felipe Abarca<br />
    Alameda, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +56 9 1247458
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">buseselite@soporte.com</a><br />
</address>