@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-dark text-white">
    <h1>Buses Elite</h1>
    <p class="lead">Donde puedes encontrar todos tus destinos.</p>
    <img src="~/Imagenes/buses.jpg" height="476px" width="961px" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nuestros destinos</h2>
        <ul class="list-group">
            <li class="list-group-item"><b>I y XV Región </b> </li>

            <li class="list-group-item">Arica – Terminal Arica </li>

            <li class="list-group-item">Iquique – Terminal de Iquique</li>

            <li class="list-group-item"><b>II y III Región</b></li>

            <li class="list-group-item">Antofagasta, Calama, Tocopilla</li>

            <li class="list-group-item">Copiapo, Diego de Almagro, Vallenar</li>

            <li class="list-group-item"><b>IV Región de Coquimbo</b></li>

            <li class="list-group-item">Coquimbo – Terminal Coquimbo</li>

            <li class="list-group-item">La Serena – Terminal La Serena</li>

            <li class="list-group-item"><b>V Región de Valparaíso</b></li>

            <li class="list-group-item">Valparaíso – Terminal Valparaíso</li>

            <li class="list-group-item">Viña del Mar – Terminal Viña del Mar</li>

            <li class="list-group-item"><b>XIII y VI Región</b></li>

            <li class="list-group-item">Santiago – Terminal San Borja / Terminal Sur</li>

            <li class="list-group-item">Rancagua – Terminal Rancagua - O’Higgins</li>

            <li class="list-group-item"><b>VII Región del Maule</b></li>

            <li class="list-group-item">Cauquenes, Curico, Linares, Talca , Chillan</li>

            <li class="list-group-item"><b>VIII Región del Biobío</b></li>

            <li class="list-group-item">Concepcion – Terminal Concepción - Collao</li>

            <li class="list-group-item">Los Ángeles – Terminal Santa Maria de Los Ángeles</li>

            <li class="list-group-item"><b>IX Región de la Araucanía</b></li>

            <li class="list-group-item">Pucón, Villarrica, Temuco</li>

            <li class="list-group-item"><b>XIV Región de Los Ríos</b></li>

            <li class="list-group-item">Valdivia – Terminal Valdivia</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>
            <img src="~/Imagenes/norte.jpg" height="476px" width="961px/">
            <img src="~/Imagenes/foto_4672_c.jpg" height="476px" width="961px"/>
            <img src="~/Imagenes/Bankoboev.Ru_scenic_salto_del_petrohue_osorno_volcano_chile.jpg" height="476px" width="961px"/>
        </h2>
    </div>
</div>